@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-default: #FFF4F4;
  --bg-primary: #F68F8F;
  --bg-sidebar: #FFFCFC;
  --focus-primary: #F68F8F;
  --txt-hover: #F68F8F;
  --btn-primary: #F68F8F;
  --bg-shop-title: #F68F8F71;
  --bg-in-stock: #F8EEBA;
  --bg-out-stock: #D8D8D8;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
